<div class="md:h-[27rem] p-4 flex flex-col item-center justify-around w-full  border-2 border-primary rounded-md">
    <div class="header flex justify-between mb-2 items-center gap-2 ">
        <h2 class="text-3xl flex font-black text-text-grey-50 capitalize font-body"> 
            <div class="w-2 h-8 rounded bg-white mr-2"></div>
            Seasons    
          </h2>
        </div>
    <div class="relative overflow-hidden flex items-center">
  <div class="hidden md:flex  season-carousel   lg:gap-6 md:gap-4 gap-2  rounded-lg overflow-x-scroll  scroll-smooth snap-mandatory snap-x items-center" (scroll)="onScroll($event)">
    <ng-container *ngIf="seasons && seasons.length > 0 && !isAnimeLoading; else emptyList">
      <app-season-item class="snap-start"  *ngFor="let season of seasons" [season]="season" [tmdbId]="tmdbId"
      [animeId]="animeId"
      ></app-season-item>
      </ng-container>
      <ng-template  #emptyList>
          <div class="snap-start " *ngFor="let anime of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15];">
            <div class="flex w-full flex-col gap-4">
              <div class="skeleton h-32 w-full"></div>
              <div class="skeleton h-4 w-28"></div>
              <div class="skeleton h-4 w-full"></div>
              <div class="skeleton h-4 w-full"></div>
            </div>
          </div>
          </ng-template>
  </div>
  <div class="grid md:hidden season-carousel-small  w-full gap-4   rounded-lg grid-cols-2  " >
    <ng-container *ngIf="seasons && seasons.length > 0 && !isAnimeLoading; else emptyList">
      <app-season-item class=""  
      *ngFor="let season of seasons | slice:0:displayCount" 
      [season]="season" [tmdbId]="tmdbId"
      [animeId]="animeId"
      ></app-season-item>
      </ng-container>
      <ng-template #emptyList>
          <div *ngFor="let anime of [1,2,3,4];">
            <div class="flex w-full flex-col gap-4">
              <div class="skeleton h-32 w-full"></div>
              <div class="skeleton h-4 w-28"></div>
              <div class="skeleton h-4 w-full"></div>
              <div class="skeleton h-4 w-full"></div>
            </div>
          </div>
          </ng-template>
          <div class="flex justify-start  w-full" *ngIf="!allItemsLoaded">
            <a  
            (click)="loadMore()" 
              class="p-2 text-center h-fit text-sm font-semibold text-primary bg-background hover:bg-secondary hover:text-text-grey-50 transition duration-200 ease-in-out rounded-lg shadow-md">
              More
            </a>
          </div>
  </div>
  <app-next-carousel *ngIf="showNextArrow" class="hidden md:inline-block right-1 Arrow-Direction"  [Direction]="next"  
    (ArrowDirection)="onDirectionScroll($event)"  ></app-next-carousel>
    <app-next-carousel  *ngIf="showPrevArrow" class="hidden md:inline-block left-1  rotate-180 Arrow-Direction" [Direction]="prev" (ArrowDirection)="onDirectionScroll($event)"></app-next-carousel>
    
</div>
</div>