<app-anime-detail-hero [animeInfo]="animeInfo" ></app-anime-detail-hero>
<div class="flex flex-col lg:flex-row items-center justify-center p-1 lg:p-5 m-4 gap-2">
    <app-information class=""  [animeInfo]="animeInfo"></app-information>
    <app-season-carousel class=" w-full" [seasons]="animeInfo.seasons" [tmdbId]="animeInfo.tmdbId"></app-season-carousel>
</div>
<div class="wrapper">
    <app-aired-episode *ngIf="animeInfo.lastEpisodeToAir" [episode]="animeInfo.lastEpisodeToAir" [header]="'Last Episode To Air'" class="m-4 sm:m-0 "></app-aired-episode>
    <img src="images/S_logo.svg"  class="max-h-72 w-1/6 ml-auto mr-auto  sm:inline-block hidden " >
    <app-aired-episode *ngIf="animeInfo.nextEpisodeToAir" [episode]="animeInfo.nextEpisodeToAir" [backdropPath]="animeInfo.backdropPath" [header]="'Next Episode To Air'" class="h-fit"></app-aired-episode>

</div>
<div class=" wrapper bg-background-100">
    <app-production-company [productionCompanies]="animeInfo.productionCompanies"></app-production-company>
</div>

<div class="wrapper bg-background-100">
    <app-anime-videos [tmdbId]="animeInfo.tmdbId"></app-anime-videos>
</div>
<div class="wrapper">
    <app-anime-group-horizontal  [animeList]="similarList" [animeGroup]="'Similar Recommendation'"></app-anime-group-horizontal>
</div>