
<div class="box font-main">
	<div class="box__ghost">
	  <div class="box__ghost-container">
		<div class="box__ghost-eyes">
		  <div class="box__eye-left"></div>
		  <div class="box__eye-right"></div>
		</div>
		<div class="box__ghost-bottom">
		  <div></div>
		  <div></div>
		  <div></div>
		  <div></div>
		  <div></div>
		</div>
	  </div>
	  <div class="box__ghost-shadow"></div>
	</div>
	
	<div class="box__description flex flex-col items-center">
	  <div class="box__description-container">
		<div class="box__description-text">Oops! Looks like there's nothing to show here</div>
	  </div>
		<div routerLink="/discover" class="btn box__button btn-outline m-4 w-64 md:btn-lg">Return to Home</div>
	</div>
	
  </div>