<div class="font-main   m-3">
    <div class="text-text-grey-50 font-black lg:text-3xl mx-4">
        <h1>Anime Genre</h1>
    </div>
    <div class=" relative gap-2 p-4  grid-container  ">
        <div class="gener-item   one"  >
            <img class="genra-image " src="https://images3.alphacoders.com/132/thumb-1920-1329800.jpeg" alt="">
                <h2 class="text-style">
                    <a href="/anime">Action</a>
                </h2>
        </div>
        <div class="gener-item   two"  >
            <img class="genra-image " src="https://images8.alphacoders.com/134/thumb-1920-1348853.png" alt="">
                <h2 class="text-style">
                    <a href="/anime">Action</a>
                </h2>
        </div>
        <div class="gener-item   three"  >
            <img class="genra-image " src="https://images3.alphacoders.com/133/thumb-1920-1331316.jpeg" alt="">
                <h2 class="text-style">
                    <a href="/anime">Action</a>
                </h2>
        </div>
        <div class="gener-item   four"  >
            <img class="genra-image " src="https://images5.alphacoders.com/132/thumb-1920-1329801.jpeg" alt="">
                <h2 class="text-style">
                    <a href="/anime">Action</a>
                </h2>
        </div>
        <div class="gener-item   five"  >
            <img class="genra-image " src="https://images6.alphacoders.com/133/thumb-1920-1330061.jpeg" alt="">
                <h2 class="text-style">
                    <a href="/anime">Action</a>
                </h2>
        </div>
        <div class="gener-item   six"  >
            <img class="genra-image " src="https://images4.alphacoders.com/132/thumb-1920-1325029.jpeg" alt="">
                <h2 class="text-style">
                    <a href="/anime">Action</a>
                </h2>
        </div>
        <div class="gener-item   seven"  >
            <img class="genra-image " src="https://images.alphacoders.com/153/thumb-1920-153823.jpg" alt="">
                <h2 class="text-style">
                    <a href="/anime">Action</a>
                </h2>
        </div>
        <div class="gener-item   eight"  >
            <img class="genra-image " src="https://images3.alphacoders.com/132/thumb-1920-1329800.jpeg" alt="">
                <h2 class="text-style">
                    <a href="/anime">Action</a>
                </h2>
        </div>
        <div class="gener-item   nine"  >
            <img class="genra-image " src="https://images6.alphacoders.com/866/thumb-1920-866984.jpg" alt="">
                <h2 class="text-style">
                    <a href="/anime">Action</a>
                </h2>
        </div>
        <div class="gener-item   ten"  >
            <img class="genra-image " src="https://images4.alphacoders.com/130/thumb-1920-1305985.jpeg" alt="">
                <h2 class="text-style">
                    <a href="/anime">Action</a>
                </h2>
        </div>
        <div class="gener-item   eleven"  >
            <img class="genra-image " src="https://images.alphacoders.com/133/thumb-1920-1331354.jpeg" alt="">
                <h2 class="text-style">
                    <a href="/anime">Action</a>
                </h2>
        </div>
        <div class="gener-item   twelve"  >
            <img class="genra-image " src="https://wallpapercg.com/media/ts_2x/9417.webp" alt="">
                <h2 class="text-style">
                    <a href="/anime">Action</a>
                </h2>
        </div>
        
    
    
    <div class="filter grid grid-cols-3 bg-black  absolute opacity-65 rounded-xl inset-0">
    </div>
</div>
</div>