
<div class="flex flex-col mt-6">
<div class="flex flex-col    px-2 md:px-4 gap-2 " [ngClass]="{'md:flex-row':!isPlayerExpanded}" >
  <app-video-player [animeInfo]="animeInfo" [animeId]="animeId" [tmdbId]="tmdbId" [episodeNumber]="episodeNumber" [seasonNumber]="seasonNumber"  (isPlayerExpanded)="togglePlayer($event)"></app-video-player>
    <app-episode-list class="flex-grow" [animeInfo]="animeInfo"  [currentEpisodeNumber]="episodeNumber" [seasonNumber]="seasonNumber" [tmdbId]="tmdbId" [animeId]="animeId" [season]="season"></app-episode-list>
</div>
<div class="divider m-0"></div>
<div class="flex flex-col md:flex-row">
  
<app-anime-display [animeInfo]="animeInfo"></app-anime-display>

<div class="Related h-96 flex-grow ">
  <div class="Related-header p-3 w-full text-lg md:text-2xl  font-black font-body">Related</div>

  <div class="Related-list h-full flex flex-col gap-4 p-4 overflow-scroll">
    <app-related-item *ngFor="let anime of similarList " [anime]="anime"  ></app-related-item>
  </div>

</div>
</div>
