<div class="wrapper w-[100vw] md:h-[88vh]  overflow-hidden relative flex flex-col gap-3 justify-center items-center md:flex-row md:justify-start  md:items-center text-text-grey-100  md:p-0">
    <div class="image-backdrop absolute  inset-0   overflow-hidden">
        <div>
            <div class="dark-filter " >
            </div>
            <div class="dark-filter" >
            </div>

            <div class="absolute inset-0 backdrop-blur-sm" >
            </div>
            <div class="dark-filter" >
            </div>
        </div>
        
        <img [src]="animeInfo.backdropPath" alt="anime" class=" object-cover h-full w-full  ">

    </div>
    
    <img [src]="animeInfo.posterPath" alt="anime" class="  w-[50%] md:h-[60%] lg:h-[78%] md:w-[20%] m-5 my-2 rounded-md  z-0">
    <div class="anime-info ">
        <div class="">
            <div class="title m-2 md:m-0 text-4xl md:text-6xl capitalize font-black text-text-grey-50 font-header">
                <h1>{{animeInfo.title}}</h1>
            </div>
        </div>
        <div class="detail-item">
            <div class="orginal-name">
                <h4>original Name:{{animeInfo.originalName}}</h4>
            </div>
        </div>
        <div class="detail-item">
            <div class="rating detail-item" >
                <span class="Rating detail-icon"> 
                    <div class=" text-sm hidden md:flex">
                        <div
                        class="radial-progress  bg-text-grey-50 text-secondary border-text-grey-50 border-2 text-xs size-14"
                        [style]="getStyleRating()"
                        style=" --size:12rem; --thickness: 2px;"
                        role="progressbar">
                        {{getRating()}}%
                        </div>
                        <div class="flex flex-col justify-between">
                            <h1 class="">Rating</h1>
                            <h1 class="">{{animeInfo.voteCount}} votes</h1>
                        </div>
                    </div> 
                </span>
                <span class="Votes "> {{animeInfo.voteCount}} Votes</span>
            </div>
        </div>
        <div *ngIf="animeInfo.tagline"  class="detail-item capitalize text-2xl"  >
        
        {{animeInfo.tagline}}
        </div>
        <div class="detail-item ">
            <h1 class="font-header text-2xl flex flex-col items-center justify-center md:inline-block">OverView</h1>
            <p >{{getOverview()}}</p>
        </div>
        <div class="flex gap-3">
        <div class="detail-item">
            <button (click)="navigateToStream()"  class="btn call-to-action"> 
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
                    </svg>
            Watch Now
            </button>
        </div>

        <div class="detail-item">
            <button (click)="addAnimeToLibrary()" class="btn call-to-action"> 
                <svg class="w-4 md:w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 12H20M12 4V20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            Add To Library
            </button>
        </div>
    </div>
    </div>
</div>