<div class="flex flex-col bg-background-100 text-text-grey-50 p-4">
    <h2 class="text-3xl my-5 flex font-black text-text-grey-50 capitalize font-body"> 
        <div class="w-2 h-10 rounded bg-white mr-2"></div>
    Explore Anime</h2>
<div class="flex justify-between flex-wrap">
    <div role="tablist" class="md:tabs tabs-bordered z-20 mb-4 md:w-1/3  flex-wrap">
        <a (click)="changeTab(Tap.Trending)"     [ngClass]="{'tab-active': activeTab==Tap.Trending}" role="tab" class="tab md:text-base text-xs">Trending</a>
        <a (click)="changeTab(Tap.Anticipated)"  [ngClass]="{'tab-active': activeTab== Tap.Anticipated}" role="tab" class="tab md:text-base text-xs">Anticipated</a>
        <a (click)="changeTab(Tap.Popular)"      [ngClass]="{'tab-active': activeTab==Tap.Popular}" role="tab" class="tab md:text-base text-xs">Popular</a>
        <a  (click)="changeTab(Tap.MostWatched)" [ngClass]="{'tab-active': activeTab==Tap.MostWatched}" role="tab" class="tab md:text-base text-xs text-nowrap">Most Watched</a>
        <a (click)="changeTab(Tap.AiringToday)"  [ngClass]="{'tab-active': activeTab==Tap.AiringToday}" role="tab" class="tab md:text-base text-xs">AiringToday</a>
    </div>
    <div class="join self-end mx-4 ml-auto right-0">
        <button (click)="changePage(false)"  class="join-item  btn btn-primary  pagination-btn">«</button>
        <button class="join-item btn btn-primary  pagination-btn">Page {{page}}</button>
        <button (click)="changePage(true)" class="join-item btn btn-primary  pagination-btn">»</button>
    </div>
</div>
<div class="grid grid-cols-2 sm:grid-cols-4 lg:grid-cols-6 gap-4 m-2">
    <ng-container *ngIf="!isLoading">
        <ng-container *ngIf="activeTab==Tap.Trending">
            <app-search-item *ngFor="let anime of TrendingList" [anime]="anime"></app-search-item>
        </ng-container> 
        <ng-container *ngIf="activeTab==Tap.AiringToday">
            <app-search-item *ngFor="let anime of AirTodayList" [anime]="anime"></app-search-item>
        </ng-container>  
        <ng-container *ngIf="activeTab==Tap.Anticipated">
            <app-search-item *ngFor="let anime of AnticipatedList" [anime]="anime"></app-search-item>
        </ng-container>  
        <ng-container *ngIf="activeTab==Tap.MostWatched">
            <app-search-item *ngFor="let anime of MostWatchedList" [anime]="anime"></app-search-item>
        </ng-container>  
        <ng-container *ngIf="activeTab==Tap.Popular">
            <app-search-item *ngFor="let anime of PopularList" [anime]="anime"></app-search-item>
        </ng-container>  
    </ng-container>
    <ng-container *ngIf="isLoading">
        <div *ngFor="let a of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
            <div class="flex w-36 md:w-52 flex-col gap-4">
                <div class="skeleton h-32 w-full"></div>
                <div class="skeleton h-4 w-28"></div>
                <div class="skeleton h-4 w-full"></div>
                <div class="skeleton h-4 w-full"></div>
            </div>
        </div>
    </ng-container>
</div>
<div class="empty-items " *ngIf="getCurrentListIsEmpty() && !isLoading">
    <app-empty-page></app-empty-page>
</div>


<div class="join self-end mx-4 ">
    <button (click)="changePage(false)"  class="join-item  btn btn-primary  pagination-btn">«</button>
    <button class="join-item btn btn-primary  pagination-btn">Page {{page}}</button>
    <button (click)="changePage(true)" class="join-item btn btn-primary  pagination-btn">»</button>
</div>
</div>
