<div class="carousel-container relative w-full ">
    <div
    class="inner-carousel flex overflow-x-auto snap-x snap-mandatory transition ease-in-out duration-100" #carousel >
      <ng-container *ngIf="mangaHeros && mangaHeros.length >0; else emptyList">
        <app-manga-hero
        class="snap-centerw-full  snap-center flex-shrink-0"
        *ngFor="let manga of mangaHeros | slice: 0:8; let i = index"
        [manga]="manga"
      ></app-manga-hero>
        </ng-container>
        <ng-template #emptyList>
        <div class="snap-start p-6" >
            <div class="flex w-[90vw] justify-between md:items-end gap-8">
            <div class="skeleton  h-[30vh] md:h-[55vh] w-1/4"></div>
            <div class="flex  flex-col  gap-7 w-full">
                <div class="skeleton h-24 rounded-full w-24"></div>
                <div class="skeleton h-4 w-4/5"></div>
                <div class="skeleton h-4 w-3/6"></div>
                <div class="skeleton h-4 w-4/5"></div>
                <div class="skeleton hidden md:inline-block  h-4 w-4/6"></div>
                <div class="skeleton hidden md:inline-block  h-4 w-5/6"></div>
                <div class="skeleton hidden md:inline-block  h-4 w-4/6"></div>
                <div class="skeleton  hidden md:inline-block h-4 w-5/6"></div>
                </div>
            </div>
        </div>
        </ng-template>
    </div>

    <div class="absolute right-5 bottom-48 md:bottom-0 flex flex-col gap-3">
      <!-- Next slide navigation -->
      <a (click)="scrollNext()" class="btn  arrow">❯</a>
      <!-- Previous slide navigation -->
      <a (click)="scrollPrev()" class="btn  arrow">❮</a>
    </div>
    <!-- Slide Indicators -->
  <div class="md:hidden indicators absolute bottom-1 left-auto right-auto   md:bottom-8 mx-auto  w-3/4  flex justify-around mt-4">
    <button
      *ngFor="let anime of mangaHeros; let i = index"
      (click)="jumpToSlide(i)"
      [class.active]="i === activeIndex"
      class="indicator-btn bg-link rounded-full w-2 h-2 shadow mx-1"></button>
  </div>
  </div>
<div class="extention-container">
    <app-manga-sites class="" *ngFor="let ext of extInfo | slice: 0:3" [ext]="ext" ></app-manga-sites>
    <div *ngIf="!(extInfo.length > 0) && 
        !this.extLoading">
      <div  class=" w-full border-none alert bg-transparent ">
        <div class="flex flex-col items-center justify-center gap-2 col-span-full w-full ">
          <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="h-6 w-6 shrink-0 stroke-current">
          <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <span >To view the Discover Manga list, please enable the required extensions
          <a class="link text-link"  routerLink="/extension"> here.</a>
        </span>
      </div>
    </div>
      <app-empty-page></app-empty-page>
    </div>
  </div>