
<div class="anime-item drop-shadow-lg  overflow-hidden   flex flex-col rounded-lg w-36 h-64 sm:w-44 sm:h-64 md:w-56 md:h-80    font-main  active:scale-100  transition duration-500 ease-in-out ">
    <div (click)="navigateToSeasons()" class="img-container  rounded-lg overflow-hidden h-4/5 md:h-5/6 relative ">
        <img class="w-full h-full " [src]="season.posterPath" alt="seasons" (error)="onImageError($event)">
        <div class="absolute inset-0 w-full h-full flex justify-center items-center group ">
            <div class="absolute inset-0 z-10 bg-black opacity-0 transition ease-in-out duration-300 group-hover:opacity-50 "></div>
        </div>
        
    </div>
    <div class="season-info">
        <div class="row-1 flex justify-between  align-bottom ">
            <div (click)="navigateToSeasons()" class="title  text-sm lg:text-base  font-bold  text-text-grey-50 ">{{season.name}}</div>
            <div class="episode  self-end item-subtitles">{{season.episodeCount}} Eps</div>
        </div>
        <div class="row-2 flex justify-between ">
            <div class="season item-subtitles">season {{season.seasonNumber}}</div>
            <div class="staus item-subtitles" >{{getAirDate()}}</div>
        </div>
    </div>
</div>