
<div class="anime-item drop-shadow-lg  overflow-hidden  bg-primary flex flex-col rounded-lg w-36 h-64 sm:w-44 sm:h-64 md:w-56 md:h-80 lg:h-96 lg:w-[18rem]    font-main  active:scale-100  transition duration-500 ease-in-out ">
    <div class="img-container  rounded-lg overflow-hidden h-4/5 md:h-5/6 relative ">
        <img class="w-full h-full " [src]="season.posterPath" alt="seasons">
        <div class="absolute inset-0 w-full h-full flex justify-center items-center group ">
            <div class="absolute inset-0 z-10 bg-black opacity-0 transition ease-in-out duration-300 group-hover:opacity-50 "></div>
        
            <svg class="h-1/3 w-1/3  z-10 opacity-0 group-hover:opacity-100 transition ease-in-out duration-500 " 
                viewBox="-0.5 0 7 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Dribbble-Light-Preview" transform="translate(-347.000000, -3766.000000)" class="fill-text-grey-100">
                        <g id="icons" transform="translate(56.000000, 160.000000)">
                            <path d="M296.494737,3608.57322 L292.500752,3606.14219 C291.83208,3605.73542 291,3606.25002 291,3607.06891 L291,3611.93095 C291,3612.7509 291.83208,3613.26444 292.500752,3612.85767 L296.494737,3610.42771 C297.168421,3610.01774 297.168421,3608.98319 296.494737,3608.57322" id="play-[#1003]"></path>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
        
    </div>
    <div class="season-info">
        <div class="row-1 flex justify-between  align-bottom ">
            <div class="title  text-sm lg:text-xl  font-bold  text-text-grey-50 ">{{season.name}}</div>
            <div class="episode  self-end item-subtitles">{{season.episodeCount}} Eps</div>
        </div>
        <div class="row-2 flex justify-between ">
            <div class="season item-subtitles">season {{season.seasonNumber}}</div>
            <div class="staus item-subtitles" >{{getAirDate()}}</div>
        </div>
    </div>
</div>