<div (click)="navigateToAnime()" class="font-main md:min-h-48 max-h-72  overflow-hidden rounded-lg bg-secondary relative font-bold drop-shadow-lg transition ease-in-out duration-500" >
    <div class="z-10 absolute group overflow-hidden w-8 md:w-10  ">
        <svg viewBox="0 0 36 49" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="36" height="37" rx="5"  class=" fill-text-grey-100 group-hover:fill-text-grey-50"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4.59375V49L18 38.2812L36 49V4.59375C36 2.05666 33.9853 0 31.5 0H4.5C2.01469 0 0 2.05666 0 4.59375ZM20.1304 17.4651H25.516C26.1769 17.4651 26.7128 17.962 26.7128 18.5747V19.6843C26.7128 20.297 26.1769 20.7939 25.516 20.7939H20.1304V25.7871C20.1304 26.3998 19.5944 26.8967 18.9336 26.8967H17.7368C17.0759 26.8967 16.54 26.3998 16.54 25.7871V20.7939H11.1543C10.4935 20.7939 9.95752 20.297 9.95752 19.6843V18.5747C9.95752 17.962 10.4935 17.4651 11.1543 17.4651H16.54V12.4719C16.54 11.8592 17.0759 11.3623 17.7368 11.3623H18.9336C19.5944 11.3623 20.1304 11.8592 20.1304 12.4719V17.4651Z"  class=" fill-primary group-hover:fill-secondary"/>
            </svg>
    </div>
    <div class="img-container h-[75%]  relative  drop-shadow-lg">
        <div class="text-sm md:text-lg lg:text-xl z-10 absolute m-1 bottom-0 left-0 right-0 text-white max-w-full ">
            {{getTitle()}}
        </div>    
        <img class="w-full h-full  rounded-lg object-cover"  alt="anime item" [src]="anime.img" alt="anime item">
        <div class="absolute inset-0 w-full h-full flex justify-center items-center group ">
            <!-- Background overlay with opacity 50% on hover -->
            <div class="absolute inset-0 bg-gradient-to-b from-transparent via-black/30 to-black/80  rounded-lg  group-hover:bg-black group-hover:opacity-55 transition ease-in-out duration-100"></div>
            <!-- SVG icon with opacity transition -->
            <svg class="h-1/3 w-3/4 z-10 opacity-0 group-hover:opacity-100 transition ease-in-out duration-500 " 
                viewBox="-0.5 0 7 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Dribbble-Light-Preview" transform="translate(-347.000000, -3766.000000)" class="fill-text-grey-100">
                        <g id="icons" transform="translate(56.000000, 160.000000)">
                            <path d="M296.494737,3608.57322 L292.500752,3606.14219 C291.83208,3605.73542 291,3606.25002 291,3607.06891 L291,3611.93095 C291,3612.7509 291.83208,3613.26444 292.500752,3612.85767 L296.494737,3610.42771 C297.168421,3610.01774 297.168421,3608.98319 296.494737,3608.57322" id="play-[#1003]"></path>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
    </div>
    <div class="mx-1 flex flex-wrap p-1 gap-2 items-end justify-between font-bold">
            <div class="season item-subtitles">{{anime.season}} seasons  </div>
            <div class="episode item-subtitles">{{anime.episode}} Eps</div>
            <div class="status item-subtitles">{{anime.status}}</div>
        </div>
</div>